[Desktop Entry]
Type=Application
TryExec=st
Exec=st
Icon=utilities-terminal
Terminal=false
Catagories=System;TerminalEmulator

Name=st
GenericName=Terminal
Comment=A suckless terminal emulator
